ion-header ion-toolbar {
  --background: #ef473a;
  color: #fff;
}

.background-image {

  // --background: url('../../assets/img/bg-login.png') white -70px 0/125% 110% no-repeat;
  // --background: var(--ion-color-secondary-tint);
  --padding-top: 15px;

}

ion-card {
  position: relative;
  text-align: center;
  -moz-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  margin: 10px;
  // border: 1px solid grey;
  display: inline-block;
}

.content img {
  display: block;
  width: 100vw;
}

.content:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%,rgba(0, 0, 0, 0.85) 100%); /* W3C */
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
  z-index: 1;
}
