<ion-header [translucent]="true" class="ion-text-center ion-text-uppercase">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="headerProfile" [style.background]="imagePath">
    <div class="title ion-text-center ion-padding-top">{{name}}</div>
    <div class="image ion-text-center " [style.background]="profilePath"></div>
  </div>


  <ion-list style="margin-top: 15vh;">
    <ion-item button *ngFor="let m of menu">
      <ion-icon slot="start" [name]="m.icon" [style.color]="m.color"></ion-icon>
      <ion-label (click)="goTo(m)">
        <h3>{{m.title}}</h3>
      </ion-label>
    </ion-item>
    <ion-item button >
      <ion-icon slot="start" name="exit-outline" style.color="#808289"></ion-icon>
      <ion-label (click)="logout()">
        <h3>logout</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>